<main class="main">
  <h1>to do list</h1>

  <fieldset>
    <legend>what would you like to do today?</legend>
    <input (keyup.enter)="addItem(todoText.value); todoText.value = ''" #todoText type="text" placeholder="type todo here">
    <button (click)="addItem(todoText.value); todoText.value = ''">add</button>
  </fieldset>

  <ul>
    <li *ngFor="let item of items">
      <label>
        <input type="checkbox" [checked]="item.done">
        <span>{{ item.description }}</span>
      </label>
    </li>
  </ul>
</main>
